/java/ComplexNumberCalculator/nbproject/private/
/java/ComplexNumberCalculator/build/
/java/Rootcalculator/nbproject/private/
/java/Rootcalculator/build/
/java/iFCM/nbproject/private/
*~
/JavaFX/HelloWorld/nbproject/private/
/JavaFX/HelloWorld/build/
/JavaFX/HelloWorld/dist/
/JavaFX/Login/nbproject/private/
/JavaFX/Login/dist/
/JavaFX/Login/build/
/JavaFX/FancyClock/nbproject/private/
/JavaFX/FancyClock/build/
/JavaFX/FancyClock/dist/
/JavaFX/AddressApp/nbproject/private/
/JavaFX/AddressApp/build/java/Primes.txt java/Sample.txt
/cpp/Matrix/nbproject/private/